body {
	background-color: white;
	color: black;
}

.mention > .x-message {
    background-color: #fefa4e;
}

.message > .x-sender:before, .message > .x-sender:after, .event > .x-sender:before, #topic {
	color: black;
}

a {
	color: #9999FF;
}

#topic {
	background-color: #e4e4e4;
}